@code {
    /// License-Identifier: CPL-1.0

}

<div class="footer">
    <br />

    <NavLink href="/">CompanioNation™ Home</NavLink>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <NavLink href="/PrivacyPolicy">Privacy Policy</NavLink>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="mailto:info@companionation.com">Contact Us</a>

    <br /><br />

    <div class="copyright">
        Copyright © 2024 <a href="https://drewzero.com/">DrewZero®</a>
        <br />
        Powered by <a href="https://companionation.com">CompanioNation™</a>
    </div>
</div>

<br />
<br />
<br />

