.loading-indicator {
    color: blue;
    font-weight: bold;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

.subscribePopupClass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10001;
}

    .subscribePopupClass a {
        pointer-events: auto;
        cursor: pointer;
    }

    .subscribePopupClass h2 {
        font-weight: bold;
    }

    .subscribePopupClass #centerPane {
        position: fixed;
        background-color: white;
        color: #122776;
        padding: 1em;
        width: 30em;
        max-width: 100vw;
        max-height: 100vw;
        height: 30em;
        transform: translateX(-50%);
        left: 50%;
        top: 1em;
        border: 0.2em solid black;
        text-align: center;
    }

.blueButton {
    background-color: #122776;
    flex: 1;
    margin: 0 5px;
    box-shadow: 0 0.1em 0.25em darkslategray;
    color: white;
    border: 0;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3em;
    padding: 1em 2em;
    height: 5em;
}

.grayButton {
    background-color: #6c757d;
    flex: 1;
    margin: 0 5px;
    box-shadow: 0 0.1em 0.25em darkslategray;
    color: white;
    border: 0;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3em;
    padding: 1em 2em;
    height: 5em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
